<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{{stack}}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/main.css')}}" rel="stylesheet">

</head>

<body class="service-details-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets/img/logo.png" alt=""> -->
        <h1 class="sitename">7Pixels</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{url_for('homepage')}} class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">JAVA Full Stack</a></li>
              <li class="dropdown"><a href="#"><span>Python</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Flask</a></li>
                  <li><a href="#">Django</a></li>
				  <li><a href="#">Web scraping</a></li>
				  <li><a href="#">Data visualisation</a></li>                
                </ul>
              </li>
              <li><a href="#">React</a></li>
              <li><a href="#">Micro services</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn" href="index.html#about">Get Started</a>

    </div>
  </header>

  <main class="main">
	{%if stack=='JAVA'%}
		<!-- Page Title -->
		<div class="page-title dark-background" data-aos="fade" style="background-image: url(static/assets/img/page-title-bg.webp);">
		  <div class="container position-relative">
			<h1>JAVA</h1><h2>Ultimate Full-Stack Solution</h2>
			<p>Java is a time-tested and powerful programming language that has been a cornerstone of software development for decades. As a full-stack language, it offers unparalleled advantages for developers and businesses alike, making it an ideal choice for building robust, scalable, and efficient web applications.</p>
			<nav class="breadcrumbs">
			  <ol>
				<li><a href="{{url_for('homepage')}}">Home</a></li>
				<li class="current">Service Details</li>
			  </ol>
			</nav>
		  </div>
		</div><!-- End Page Title -->

		<!-- Service Details Section -->
		<section id="service-details" class="service-details section">

		  <div class="container">

			<div class="row gy-4">

			  <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
			  <h4>Advantages of Java in Full-Stack Development</h4>
				<p>Java’s enduring presence in the software development world is a testament to its capabilities as a full-stack language. Its robustness, scalability, and continuous evolution make it an edging technology that meets the demands of modern application development..</p>
			  
				<div class="services-list">
				  <a href="#" class="active">Cross-Platform Compatibility</a>
				  <a href="#">Robust and Secure</a>
				  <a href="#">Scalability</a>
				  <a href="#">Comprehensive Ecosystem</a>
				  <a href="#section-id">Microservices Architecture</a>
				  <a href="#">Innovative Features</a>
				</div>

				</div>

			  <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
				<img src="{{ url_for('static', filename='assets/img/services.jpg') }}" alt="" class="img-fluid services-img">
				<h3>Java offers the tools and features needed to deliver exceptional user experiences.</h3>
				<p>
				User-Centric Features
				</p>
				<ul id="section-id">
				  <li><i class="bi bi-check-circle"></i> <span>Rich User Interfaces</span></li>
				  <li><i class="bi bi-check-circle"></i> <span>Enhanced Security</span></li>
				  <li><i class="bi bi-check-circle"></i> <span>Reliability</span></li>
				  <li><i class="bi bi-check-circle"></i> <span>High Performance</span></li>
				</ul>
				<p>
	<h5>Microservices Architecture:</h5> Java’s compatibility with microservices architecture allows developers to build modular and maintainable applications. This is crucial for modern, cloud-based applications that require flexibility and scalability.            </p>
				<p>
				</p>
			  </div>

			</div>

		  </div>

		</section><!-- /Service Details Section -->

	  </main>
	  
	{%else%}
		<div class="page-title dark-background" data-aos="fade" style="background-image: url(static/assets/img/page-title-bg.webp);">
		  <div class="container position-relative">
			<h1>UNDER CONSTRUCTION</h1>
		  </div>
		</div>
		
	{%endif%}

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">7Pixels</span>
          </a>
          <div class="footer-contact pt-3">
            <p>New FC 32</p>
            <p>Lahore, Pakistan</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+090078601</span></p>
            <p><strong>Email:</strong> <span>helpmedurdana.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="{{url_for('homepage')}}">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
	  <div class="card shadow-sm bg-transparent text-white">
		<div class="card-body">
		  <h4 class="card-title text-center">Got a Suggestion or Question?</h4>
		  <p class="text-center mb-4">Feel free to send me an email with your thoughts or inquiries.</p>
		  <form action="mailto:ans.naeem31@gmail.com" method="post" enctype="text/plain">
			<div class="form-group mb-3">
			  <label for="email" class="form-label">Your Email:</label>
			  <input type="email" class="form-control  text-white border-secondary" id="email" name="email" placeholder="Enter your email" required>
			</div>
			<div class="form-group mb-3">
			  <label for="message" class="form-label">Your Message:</label>
			  <textarea class="form-control  text-white border-secondary" id="message" name="message" rows="4" placeholder="Write your message here" required></textarea>
			</div>
			<div class="d-grid">
			  <button type="submit" class="btn btn-outline-light" style="color: #FF6F00; border-color: #FF6F00; border-width: 2px; background-color: transparent;"
				onmouseover="this.style.backgroundColor='#FF6F00'; this.style.color='#fff';"
				onmouseout="this.style.backgroundColor='transparent'; this.style.color='#FF6F00';"> Send </button>	
			</div>
		  </form>
		</div>
	  </div>



        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">&Pixels</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        
        Designed by <a href="{{url_for('homepage')}}">7Pixels</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>